
// 鼠标经过上移阴影动画
.hovershadow () {
    transition: all .5s;
    &:hover {
        transform: translate3d(0,-3px,0);
        box-shadow: 0 3px 8px rgba(0,0,0,0.2);

    }
}
// .size(@w){
//     width: @w;
//     height: @w;
// }
// .box{
//     .size(200px);
//     .hovershadow;
//     background-color: red;
// }